<!-- <form>
    <div class="form-group form-inline">
      Search vehicle by name: 
    <input class="form-control ml-2" type="text" name="searchTerm" (ngModel)="searchTerm" />
    </div>
</form> -->



<table class="table table-striped" style="margin-top:50px ;">
    <thead style="background-color:darkcyan;">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Model</th>
          <th scope="col">Manufacturer</th>
          <!-- <th scope="col">Cost</th> -->
        </tr>  
    </thead>

    <tbody>
        <tr *ngFor="let vehicle of dataSearch | paginate: {itemsPerPage:5,currentPage:p};">
            <!-- <th scope="row"></th> -->

            <td>{{vehicle.name}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <!-- <td>{{vehicle.cost}}</td> -->
        </tr>
    </tbody>
</table>
<!-- <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
    [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination> -->
    <footer>
        <pagination-controls style="position:fixed;" (pageChange)=" p =$event ">
    
        </pagination-controls>
    </footer>    