<div *ngIf="successAlert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Password changed successfully</strong> 
  <button type="button" class="close" data-bs-dismiss="alert" style="float: right;" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container">
    <form [formGroup]="changePass" (ngSubmit)="changePassword()" class="border p-3 rounded-3 p-4 col-5" id="formBorder" >
        <div class="row g-0">
            <div class="col text-center p-2 mg-3">
                <span class="fs-3">Change Password</span>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3 mt-4">
               <label for="oldPass">Enter Old password : </label> 
            <input type="password" class="form-control" id="oldPass" formControlName="oldPassword" (keyup)="checkOldPassword()">
            
            <!-- <div class="alert alert-danger" *ngIf="changePass.get('oldPassword')?.invalid 
              && changePass.get('oldPassword')?.touched"> -->
              <div class="form-text text-danger" *ngIf="OldPassword.errors?.['required'] && (OldPassword.touched || OldPassword.dirty)" >
                Old Password is Required
              </div>
                <div class="form-text text-danger" [ngStyle]="{'display':oldPasswordWrong}">
                  Old password does not match
              </div>
            <!-- </div>                    -->

            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
               <label for="newPass"> Enter New Password :</label>
            <input type="password" class="form-control" id="newPass" formControlName="newPassword" (keyup)="checkRepeatPassword()">

            <div class="form-text text-danger" *ngIf="NewPassword.errors?.['required'] && (NewPassword.touched || NewPassword.dirty)" >
              Password is Required
          </div>
          <div class="form-text text-danger" *ngIf="NewPassword.errors?.['minlength'] || NewPassword.errors?.['maxlength'] && (NewPassword.touched || NewPassword.dirty)" >
             <p>Password should be at least 8 and at max 15 characters long.</p> 
          </div>

            </div>
        </div>
        
        <div class="row">
            <div class="col mb-3">
               <label for="repeatPass">Repeat New Password :</label> 
            <input type="password" class="form-control" id="repeatPass" name="repeatPassword"
            formControlName="repeatPassword"  (keyup)="checkRepeatPassword()">

            <div class="form-text text-danger" *ngIf="RepeatPassword.errors?.['required'] && (RepeatPassword.touched || RepeatPassword.dirty)" >
              Repeat Password is Required
            </div>

            <div class="form-text text-danger" [ngStyle]="{'display':repeatPasswordCheck}" *ngIf="RepeatPassword.touched || RepeatPassword.dirty && repeatPasswordCheck=='inline'">
              Repeat password does not match
            </div>

            
            </div>

            
        </div>
        <div class="row">
            
            <div>
                <button class="btn btn-danger" style="margin-top: 20px;" routerLink="/dashboard/home">Cancel</button>
                <button type="submit" class="btn btn-success" [disabled]="changePass.invalid " style="margin-top: 20px; margin-left: 10px;">Save</button>
            </div>
            
        </div>
        </form>
</div>



